<h1>Battleships</h1>

<p id="login">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" />
    <button type="button" id="loginbutton">Log In</button>
</p>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
    var playerid = "";
    $("document").ready(function () {
        $("#loginbutton").click(function () {
            var uname = $("#username").val(); 
            if(uname.length>1)
            $.ajax({
                url: '/api/login',
                method: 'Get',
                data: {
                    username: uname
                }
            })
                .done(function (newPlayer) {
                    $("#login").text("Welcome, " + newPlayer.Name + "!");
                    playerid = newPlayer.Name;
                    $("#buttons").attr("style","visibility:visible");
                })
                .fail(function (xhr, status, error) {
                    console.log("Error", xhr, status, error)
                    $("#error").html(`Error! ${xhr.responseJSON.Message}`);
                })
        })
    })
</script>

<p id="buttons" style="visibility:hidden">
    <button id="hostgame">Host a new game</button>
    <button id='pickgame'>Pick an existing game</button>
</p>

<script>
    $("#hostgame").click(function () {
        window.location.href = "/Home/Host?playerid=" + playerid;
    })
    $("#pickgame").click(function () {
        window.location.href = "/Home/PickGame?playerid="+playerid;
    })
</script>

