
@{
    ViewBag.Title = "PickGame";
    ViewBag.PlayerId = Request["playerid"];
}

<h1>@ViewBag.PlayerId, pick the game you want to play:</h1>

<br />
<table table-bordered">
    <tr>
        <th style="width:200px">Game ID</th>
        <th style="width:200px">Oponent</th>
        <th style="width:100px">Size</th>
        <th style="width:100px">Date Created</th>
    </tr>
    <tr class="tablerow">
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
    </tr>
    <tr class="tablerow">
        <td>e</td>
        <td>f</td>
        <td>g</td>
        <td>h</td>
    </tr>
</table>

